@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); 

* {
    font-family: 'Roboto', sans-serif;
   
    box-sizing: border-box;
    overflow: auto;
}

html {
  background-color: #F5F5F5;
}

form {
  height: 100%;
}

.patient-info {
  margin-top: 5%;
  padding-left: 5%;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 200;
}

.diabetes {
  margin-top: 5%;
  display: inline-block;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
}

.height, .weight, .age, .gender, .sys_bp, .dias_bp{
    color: rgb(113,111,109);
    font-size: 14px;
    width: 200px;
    display: block;
    margin-bottom: 5px;
  }

  .age-div, .gender-div, .height-div, .weight-div, .sys_bp-div, .dias_bp-div {
    display: inline-block;
    margin-right: 2%;
    margin-top: 1%;
  }

  .smoking_status-div, .diagnoses_div {
    display: inline-block;
    margin-top: 2%;
  }

  .diagnoses_div {
    margin-left: 13.1%;
  }

label {
  font-weight: 300;
  font-size: 18px;
  
}

.error {
    margin-bottom: 10px;
    font-size: 10px;
    width: 100px;
}

input[type="text"] {
    color: rgb(113,111,109);
   
  }

.input {
    margin-left: 5%;
  }

 
.input-boxes {
  width: 198px;
  height: 39px;
  background: #E4E0E0;
  border: 1px solid #858585;
  box-sizing: border-box;
  display: inline-block;
    /* margin-left: 1%;
    display: inline-block;
    margin-right: 60%;  
    margin-bottom: 1%;
    border-radius: 3px;
    font-size: 12px;
    color: rgb(113,111,109);
    font-size: 12px;
    width: 200px;
    display: inline-block; */
}

.input-boxes-large {
  width: 500px;
  height: 180px;

}

li {
  padding-top: 1%;
}

.required {
    font-size: 20px;
    
    display: block;

  }

/* a {
    text-decoration: none;
    color: #5DBFE2;
    font-size: 16px;

  }
  a:hover {
    color:gray;

  }
  .bar {
    background-color:rgb(233, 231, 231);

  } */

.double-check {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
}

.submit_data_div {
  height: 50px;
  
}

.submit_data {
    float: right;
    margin-right: 9%;
    width: 181px;
    height: 39px;
    font-size: 24px;
    font-weight: 300;
    background: #61D1F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-color: transparent;

    /* background: #5DBFE2 100%;
    text-align: center;
    font-size: 14px;
    color: white; */
    /* width: 100%;
    height: 100%; */
    /* border-radius: 6px;
    width: 175.2px;
    height: 33px;
    margin-left: 17%;
    margin-top: 1%; */
}

