
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HealthPredict</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
  </head>
  <body>
    <h1>Make a Prediction</h1>
    <img class="logo" src="{{ url_for('static', filename='assets/images/HealthPredict_Logo.svg') }}" alt="HealthPredict-logo">
    <a href='/diabetesinputs'><button class="diabetes-button">Diabetes</button></a>
    <a href='/heartdiseaseinputs'><button class="heart-disease-button">Heart Disease</button></a>
    <!-- <a href='/heartdiseaseinputs'><button class="heart-diease-button">Heart Disease</button></a> -->
    <a class="about" href="/about">About HealthPredict</a>
  </body>
</html>
