<html>
    <title>Diabetes Inputs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='input_diabetes.css') }}">

  <h1 class="patient-info">Patient Information for Predicting</h1><h1 class="diabetes">Diabetes</h1>
  <div class="input">
    <form class="form" #f="ngForm" action='' method='POST'>
      {{ form.hidden_tag() }}

      <div class="personal-div">
      <div class="age-div">
      <div class="age">
          <label for="age">Age (Years)</label>
        </div>
        {% if form.age.errors %}
        {{ form.age(class="input-boxes") }}
        {% for error in form.age.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.age(class="input-boxes") }}
        {% endif %}
      </div>

      <div class="gender-div">
      <div class="gender">
          <label for="gender">Gender*</label>
        </div>
        {% if form.gender.errors %}
        {{ form.gender(class="input-boxes") }}
        {% for error in form.gender.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.gender(class="input-boxes") }}
        {% endif %}
      </div>

      <div class="height-div">
      <div class="height">
        <label for="height">Height (inches)*</label>
      </div>
      {% if form.height.errors %}
      {{ form.height(class="input-boxes") }}
      {% for error in form.height.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.height(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="weight-div">
      <div class="weight">
        <label for="weight">Weight (lbs)*</label>
      </div>
      {% if form.weight.errors %}
      {{ form.weight(class="input-boxes") }}
      {% for error in form.weight.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.weight(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="sys_bp-div">
      <div class="sys_bp">
        <label for="sys_bp">Systolic Blood Pressure (mmHg)*</label>
      </div>
      {% if form.sys_bp.errors %}
      {{ form.sys_bp(class="input-boxes") }}
      {% for error in form.sys_bp.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.sys_bp(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="dias_bp-div">
      <div class="dias_bp">
          <label for="dias_bp">Diastolic Blood Pressure (mmHg)*</label>
        </div>
        {% if form.dias_bp.errors %}
        {{ form.dias_bp(class="input-boxes") }}
        {% for error in form.dias_bp.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.dias_bp(class="input-boxes") }}
        {% endif %}
      </div>
    
    </div>

<div class="smoking-div">
      <div class="smoking_history-div">
        <div class="smoking_history">
            <label for="smoking_history">Smoking History:</label>
          </div>
          {% if form.smoking_history.errors %}
          {{ form.smoking_history(class="input-boxes-large") }}
          {% for error in form.smoking_history.errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}
          {% else %}
          {{ form.smoking_history(class="input-boxes-large") }}
          {% endif %}  
        </div>
  
      <div class="smoking_status-div">
      <div class="smoking_status">
          <label for="smoking_status">Current Smoking Status:</label>
        </div>
        {% if form.smoking_status.errors %}
        {{ form.smoking_status(class="input-boxes-large") }}
        {% for error in form.smoking_status.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.smoking_status(class="input-boxes-large") }}
        {% endif %}  
      </div>
    
    </div>

      <div class="diagnoses-div">
        <div class="diagnoses">Diagnosed with:</div> 
     

      <div class="hypertension-div">
          {% if form.hypertension.errors %}
          {{ form.hypertension(class="input-boxes") }}
          {% for error in form.hypertension.errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}
          {% else %}
          {{ form.hypertension(class="input-boxes") }}
          {% endif %}  
          <div class="hypertension">
            <label for="hypertension" class="hypertension-label">Hypertension*</label>
          </div>
        </div>  

        <div class="high_chol-div">
            {% if form.high_chol.errors %}
            {{ form.high_chol(class="input-boxes") }}
            {% for error in form.high_chol.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% else %}
            {{ form.high_chol(class="input-boxes") }}
            {% endif %}  
            <div class="high_chol">
              <label for="high_chol">Mixed Hyperlipidemia (High Cholestrol)*</label>
            </div>
          </div> 

          <div class="renal_failure-div">
            {% if form.renal_failure.errors %}
           {{ form.renal_failure(class="input-boxes") }}
            {% for error in form.renal_failure.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% else %}
            {{ form.renal_failure(class="input-boxes") }}
            {% endif %}  
            <div class="renal_failure">
              <label for="renal_failure">Chronic Renal Failure</label>
            </div>
          </div> 

          <div class="alc_dependence-div">
            {% if form.alc_dependence.errors %}
           {{ form.alc_dependence(class="input-boxes") }}
            {% for error in form.alc_dependence.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% else %}
            {{ form.alc_dependence(class="input-boxes") }}
            {% endif %}  
            <div class="alc_dependence">
              <label for="alc_dependence">Alcohol Dependence</label>
            </div>
          </div> 

          <div class="hyperchol-div">
            {% if form.hyperchol.errors %}
           {{ form.hyperchol(class="input-boxes") }}
            {% for error in form.hyperchol.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% else %}
            {{ form.hyperchol(class="input-boxes") }}
            {% endif %}  
            <div class="hyperchol">
              <label for="hyperchol">Hypercholesterolemia</label>
            </div>
          </div> 

          <div class="coronary_artery-div">
            {% if form.coronary_artery.errors %}
           {{ form.coronary_artery(class="input-boxes") }}
            {% for error in form.coronary_artery.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% else %}
            {{ form.coronary_artery(class="input-boxes") }}
            {% endif %}  
            <div class="coronary_artery">
              <label for="coronary_artery">Coronary Atherosclerosis (Coronary Artery Disease)</label>
            </div>
          </div> 

        </div>

      <div class="required">
        *denotes required fields. 
      </div>
      <div class="double-check">
        Please double check all inputs to ensure they are correct before submitting.
      </div>
      <div class="submit_data_div">
        <div type="submit">
        </div>
        {{ form.submit(class="submit_data") }}
      </div>
    </form>
  </div>
</body>
</html>