<html>
    <title>Diabetes Inputs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='input_diabetes.css') }}">

  <h1 class="patient-info">Patient Information for Predicting</h1><h1 class="diabetes">Diabetes</h1>
  <div class="input">
    <form class="form" #f="ngForm" action='' method='POST'>
      {{ form.hidden_tag() }}

      <div class="age-div">
      <div class="age">
          <label for="age">Age</label>
        </div>
        {% if form.age.errors %}
        {{ form.age(class="input-boxes") }}
        {% for error in form.age.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.age(class="input-boxes") }}
        {% endif %}
      </div>

      <div class="gender-div">
      <div class="gender">
          <label for="gender">Gender*</label>
        </div>
        {% if form.gender.errors %}
        {{ form.gender(class="input-boxes") }}
        {% for error in form.gender.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.gender(class="input-boxes") }}
        {% endif %}
      </div>

      <div class="height-div">
      <div class="height">
        <label for="height">Height*</label>
      </div>
      {% if form.height.errors %}
      {{ form.height(class="input-boxes") }}
      {% for error in form.height.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.height(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="weight-div">
      <div class="weight">
        <label for="weight">Weight*</label>
      </div>
      {% if form.weight.errors %}
      {{ form.weight(class="input-boxes") }}
      {% for error in form.weight.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.weight(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="sys_bp-div">
      <div class="sys_bp">
        <label for="sys_bp">Systolic Blood Pressure*</label>
      </div>
      {% if form.sys_bp.errors %}
      {{ form.sys_bp(class="input-boxes") }}
      {% for error in form.sys_bp.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.sys_bp(class="input-boxes") }}
      {% endif %}
    </div>

    <div class="dias_bp-div">
      <div class="dias_bp">
          <label for="dias_bp">Diastolic Blood Pressure*</label>
        </div>
        {% if form.dias_bp.errors %}
        {{ form.dias_bp(class="input-boxes") }}
        {% for error in form.dias_bp.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.dias_bp(class="input-boxes") }}
        {% endif %}
      </div>

      <div class="smoking_status-div">
      <div class="smoking_status">
          <label for="smoking_status">Smoking Status:</label>
        </div>
        {% if form.smoking_status.errors %}
        {{ form.smoking_status(class="input-boxes-large") }}
        {% for error in form.smoking_status.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.smoking_status(class="input-boxes-large") }}
        {% endif %}  
      </div>

      <div class="diagnoses_div">
      <div class="diagnoses">
          <label for="diagnoses">Diagnosed with:</label>
        </div>
        {% if form.diagnoses.errors %}
        {{ form.diagnoses(class="input-boxes-large") }}
        {% for error in form.diagnoses.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ form.diagnoses(class="input-boxes-large") }}
        {% endif %}    
      </div>

      <div class="required">
        *denotes required fields. 
      </div>
      <div class="double-check">
        Please double check all inputs to ensure they are correct before submitting.
      </div>
      <div class="submit_data_div">
        <div type="submit">
        </div>
        {{ form.submit(class="submit_data") }}
      </div>
    </form>
  </div>
</body>
</html>